<p id="notice"><%= notice %></p>

<p>
  <strong>Isactive:</strong>
  <%= @title3.isActive %>
</p>

<p>
  <strong>Name:</strong>
  <%= @title3.name %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @title3.sort_order %>
</p>

<%= link_to 'Edit', edit_title3_path(@title3) %> |
<%= link_to 'Back', title3s_path %>
