<p id="notice"><%= notice %></p>

<p>
  <strong>Fk order status:</strong>
  <%= @order_status_tracker.fk_order_status %>
</p>

<p>
  <strong>Date submitted:</strong>
  <%= @order_status_tracker.date_submitted %>
</p>

<p>
  <strong>Fk order:</strong>
  <%= @order_status_tracker.fk_order %>
</p>

<%= link_to 'Edit', edit_order_status_tracker_path(@order_status_tracker) %> |
<%= link_to 'Back', order_status_trackers_path %>
