<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @form_field_type.type %>
</p>

<p>
  <strong>Fk data ref:</strong>
  <%= @form_field_type.fk_data_ref %>
</p>

<%= link_to 'Edit', edit_form_field_type_path(@form_field_type) %> |
<%= link_to 'Back', form_field_types_path %>
