<p id="notice"><%= notice %></p>

<p>
  <strong>Cpkfk ad size:</strong>
  <%= @headline_to_ad_size_assignment.cpkfk_ad_size %>
</p>

<p>
  <strong>Cpkfk headline:</strong>
  <%= @headline_to_ad_size_assignment.cpkfk_headline %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @headline_to_ad_size_assignment.is_active %>
</p>

<%= link_to 'Edit', edit_headline_to_ad_size_assignment_path(@headline_to_ad_size_assignment) %> |
<%= link_to 'Back', headline_to_ad_size_assignments_path %>
