<p id="notice"><%= notice %></p>

<h1>Cdg Template Stage Data</h1>

<table>
  <thead>
    <tr>
      <th>Fk ad matrix category</th>
      <th>Code</th>
      <th>Title</th>
      <th>Is active</th>
      <th>Path</th>
      <th>Version</th>
      <th>Fk ad size</th>
      <th>Fk headline</th>
      <th>Xml info</th>
      <th>Thumbnail path</th>
      <th>Instructions</th>
      <th>Proxy path</th>
      <th>Pdf filename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cdg_template_stage_data.each do |cdg_template_stage_datum| %>
      <tr>
        <td><%= cdg_template_stage_datum.fk_ad_matrix_category %></td>
        <td><%= cdg_template_stage_datum.code %></td>
        <td><%= cdg_template_stage_datum.title %></td>
        <td><%= cdg_template_stage_datum.is_active %></td>
        <td><%= cdg_template_stage_datum.path %></td>
        <td><%= cdg_template_stage_datum.version %></td>
        <td><%= cdg_template_stage_datum.fk_ad_size %></td>
        <td><%= cdg_template_stage_datum.fk_headline %></td>
        <td><%= cdg_template_stage_datum.xml_info %></td>
        <td><%= cdg_template_stage_datum.thumbnail_path %></td>
        <td><%= cdg_template_stage_datum.instructions %></td>
        <td><%= cdg_template_stage_datum.proxy_path %></td>
        <td><%= cdg_template_stage_datum.pdf_filename %></td>
        <td><%= link_to 'Show', cdg_template_stage_datum %></td>
        <td><%= link_to 'Edit', edit_cdg_template_stage_datum_path(cdg_template_stage_datum) %></td>
        <td><%= link_to 'Destroy', cdg_template_stage_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cdg Template Stage Datum', new_cdg_template_stage_datum_path %>
