<p id="notice"><%= notice %></p>

<p>
  <strong>Fk ad matrix category:</strong>
  <%= @cdg_template_stage_datum.fk_ad_matrix_category %>
</p>

<p>
  <strong>Code:</strong>
  <%= @cdg_template_stage_datum.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @cdg_template_stage_datum.title %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @cdg_template_stage_datum.is_active %>
</p>

<p>
  <strong>Path:</strong>
  <%= @cdg_template_stage_datum.path %>
</p>

<p>
  <strong>Version:</strong>
  <%= @cdg_template_stage_datum.version %>
</p>

<p>
  <strong>Fk ad size:</strong>
  <%= @cdg_template_stage_datum.fk_ad_size %>
</p>

<p>
  <strong>Fk headline:</strong>
  <%= @cdg_template_stage_datum.fk_headline %>
</p>

<p>
  <strong>Xml info:</strong>
  <%= @cdg_template_stage_datum.xml_info %>
</p>

<p>
  <strong>Thumbnail path:</strong>
  <%= @cdg_template_stage_datum.thumbnail_path %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @cdg_template_stage_datum.instructions %>
</p>

<p>
  <strong>Proxy path:</strong>
  <%= @cdg_template_stage_datum.proxy_path %>
</p>

<p>
  <strong>Pdf filename:</strong>
  <%= @cdg_template_stage_datum.pdf_filename %>
</p>

<%= link_to 'Edit', edit_cdg_template_stage_datum_path(@cdg_template_stage_datum) %> |
<%= link_to 'Back', cdg_template_stage_data_path %>
