<%= form_with(model: headlinecolortype, local: true) do |form| %>
  <% if headlinecolortype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(headlinecolortype.errors.count, "error") %> prohibited this headlinecolortype from being saved:</h2>

      <ul>
      <% headlinecolortype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
