<p id="notice"><%= notice %></p>

<h1>Headlinecolortypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @headlinecolortypes.each do |headlinecolortype| %>
      <tr>
        <td><%= headlinecolortype.name %></td>
        <td><%= link_to 'Show', headlinecolortype %></td>
        <td><%= link_to 'Edit', edit_headlinecolortype_path(headlinecolortype) %></td>
        <td><%= link_to 'Destroy', headlinecolortype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Headlinecolortype', new_headlinecolortype_path %>
