<%= form_with(model: saved_publication, local: true) do |form| %>
  <% if saved_publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saved_publication.errors.count, "error") %> prohibited this saved_publication from being saved:</h2>

      <ul>
      <% saved_publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_phone %>
    <%= form.text_field :contact_phone %>
  </div>

  <div class="field">
    <%= form.label :contact_email_address %>
    <%= form.text_field :contact_email_address %>
  </div>

  <div class="field">
    <%= form.label :date_created %>
    <%= form.datetime_select :date_created %>
  </div>

  <div class="field">
    <%= form.label :fk_creator_id %>
    <%= form.text_field :fk_creator_id %>
  </div>

  <div class="field">
    <%= form.label :fk_publication_type_id %>
    <%= form.text_field :fk_publication_type_id %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.text_field :is_active %>
  </div>

  <div class="field">
    <%= form.label :publication_name %>
    <%= form.text_field :publication_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
