<p id="notice"><%= notice %></p>

<h1>Featured Headlines</h1>

<table>
  <thead>
    <tr>
      <th>Tag line</th>
      <th>Headline sort order</th>
      <th>Fk headline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @featured_headlines.each do |featured_headline| %>
      <tr>
        <td><%= featured_headline.tag_line %></td>
        <td><%= featured_headline.headline_sort_order %></td>
        <td><%= featured_headline.fk_headline %></td>
        <td><%= link_to 'Show', featured_headline %></td>
        <td><%= link_to 'Edit', edit_featured_headline_path(featured_headline) %></td>
        <td><%= link_to 'Destroy', featured_headline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Featured Headline', new_featured_headline_path %>
