<p id="notice"><%= notice %></p>

<p>
  <strong>Designationpk:</strong>
  <%= @designationformfieldvalue.designationPk %>
</p>

<p>
  <strong>Formfieldvaluepkid:</strong>
  <%= @designationformfieldvalue.formFieldValuePkID %>
</p>

<%= link_to 'Edit', edit_designationformfieldvalue_path(@designationformfieldvalue) %> |
<%= link_to 'Back', designationformfieldvalues_path %>
