<p id="notice"><%= notice %></p>

<p>
  <strong>Pk:</strong>
  <%= @tff_to_tffgroup.pk %>
</p>

<p>
  <strong>Pk id1:</strong>
  <%= @tff_to_tffgroup.pk_id1 %>
</p>

<%= link_to 'Edit', edit_tff_to_tffgroup_path(@tff_to_tffgroup) %> |
<%= link_to 'Back', tff_to_tffgroups_path %>
