<p id="notice"><%= notice %></p>

<h1>Additional Run Dates</h1>

<table>
  <thead>
    <tr>
      <th>Pk</th>
      <th>Run date</th>
      <th>Fk order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @additional_run_dates.each do |additional_run_date| %>
      <tr>
        <td><%= additional_run_date.pk %></td>
        <td><%= additional_run_date.run_date %></td>
        <td><%= additional_run_date.fk_order %></td>
        <td><%= link_to 'Show', additional_run_date %></td>
        <td><%= link_to 'Edit', edit_additional_run_date_path(additional_run_date) %></td>
        <td><%= link_to 'Destroy', additional_run_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Additional Run Date', new_additional_run_date_path %>
