<p id="notice"><%= notice %></p>

<p>
  <strong>Var email:</strong>
  <%= @imported_fa_news.var_email %>
</p>

<p>
  <strong>Var division:</strong>
  <%= @imported_fa_news.var_division %>
</p>

<p>
  <strong>Var district:</strong>
  <%= @imported_fa_news.var_district %>
</p>

<p>
  <strong>Var branch:</strong>
  <%= @imported_fa_news.var_branch %>
</p>

<p>
  <strong>Var firstname:</strong>
  <%= @imported_fa_news.var_firstname %>
</p>

<p>
  <strong>Var lastname:</strong>
  <%= @imported_fa_news.var_lastname %>
</p>

<p>
  <strong>Var empid:</strong>
  <%= @imported_fa_news.var_empid %>
</p>

<p>
  <strong>Var jobcode:</strong>
  <%= @imported_fa_news.var_jobcode %>
</p>

<p>
  <strong>Var jobtitle:</strong>
  <%= @imported_fa_news.var_jobtitle %>
</p>

<p>
  <strong>Var workaddressfull:</strong>
  <%= @imported_fa_news.var_workaddressfull %>
</p>

<p>
  <strong>Var city:</strong>
  <%= @imported_fa_news.var_city %>
</p>

<p>
  <strong>Var state:</strong>
  <%= @imported_fa_news.var_state %>
</p>

<p>
  <strong>Var zip:</strong>
  <%= @imported_fa_news.var_zip %>
</p>

<p>
  <strong>Var workphone:</strong>
  <%= @imported_fa_news.var_workphone %>
</p>

<p>
  <strong>Var firm:</strong>
  <%= @imported_fa_news.var_firm %>
</p>

<p>
  <strong>Var region:</strong>
  <%= @imported_fa_news.var_region %>
</p>

<p>
  <strong>Var date added:</strong>
  <%= @imported_fa_news.var_date_added %>
</p>

<%= link_to 'Edit', edit_imported_fa_news_path(@imported_fa_news) %> |
<%= link_to 'Back', imported_fa_news_path %>
