<p id="notice"><%= @notice %></p>

<h1>Cdg Orders</h1>

<div><%= link_to "start ingest", action: "ingest_worm_reports" %></div>
<div><%= link_to 'Download CSV list', action: "csv_reports" %>
</div>
<%= will_paginate @cdg_orders %>
<table class="cdg_order_table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Creator</th>
      <th>Date Created</th>
      <th>Status</th>
      <th>WORM Status</th>
      <th>WORM Package</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "orders", collection: @cdg_orders, as: :cdg_order %>
  </tbody>
</table>
