<p id="notice"><%= notice %></p>

<h1>Cdg Orders</h1>

<div><%= link_to "start ingest", action: "ingest_worm_reports" %></div>
<div><%= link_to 'Download CSV list', action: "csv_reports" %>
</div>
<%= will_paginate @cdg_orders %>
<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Status</th>
      <th>WORM Status</th>
      <th>File</th>
      <th>ARF</th>
      <th>WORM File</th>
      <th>ARF WORM File</th>
    </tr>
  </thead>

  <tbody>
    <% @cdg_orders.each do |cdg_order| %>
      <tr>
        <td><%= cdg_order.pk_id %></td>
        <td><%= cdg_order.cdg_order_status.nil? ? '' : cdg_order.cdg_order_status.name %></td>
        <td><%= cdg_order.worm_status %></td>
        <td><%= link_to 'File', cdg_order_path(cdg_order, :format => :xml) %></td>
        <td><%= link_to 'ARF', :action => 'arf', :controller => 'cdg_orders', :id => cdg_order.id, :format => :pdf %></td>
        <td><%= link_to 'WORM', cdg_order_path(cdg_order, :format => :xml) %></td>
        <td><%= link_to 'ARF WORM', :action => 'arf', :controller => 'cdg_orders', :id => cdg_order.id, :format => :xml %></td>
      </tr>
    <% end %>
  </tbody>
</table>
