<p id="notice"><%= notice %></p>

<p>
  <strong>Contact email address:</strong>
  <%= @cdg_order.contact_email_address %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @cdg_order.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @cdg_order.contact_phone %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @cdg_order.cost %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @cdg_order.date_created %>
</p>

<p>
  <strong>Fk creator:</strong>
  <%= @cdg_order.fk_creator %>
</p>

<p>
  <strong>Fk publication type:</strong>
  <%= @cdg_order.fk_publication_type %>
</p>

<p>
  <strong>Materials close date:</strong>
  <%= @cdg_order.materials_close_date %>
</p>

<p>
  <strong>Publication name:</strong>
  <%= @cdg_order.publication_name %>
</p>

<p>
  <strong>Run date:</strong>
  <%= @cdg_order.run_date %>
</p>

<p>
  <strong>Seminar date time:</strong>
  <%= @cdg_order.seminar_date_time %>
</p>

<p>
  <strong>Seminar location:</strong>
  <%= @cdg_order.seminar_location %>
</p>

<p>
  <strong>Speaker name and title:</strong>
  <%= @cdg_order.speaker_name_and_title %>
</p>

<p>
  <strong>Advisor name:</strong>
  <%= @cdg_order.advisor_name %>
</p>

<p>
  <strong>Fk advisor title:</strong>
  <%= @cdg_order.fk_advisor_title %>
</p>

<p>
  <strong>Advisor phone:</strong>
  <%= @cdg_order.advisor_phone %>
</p>

<p>
  <strong>Branch address1:</strong>
  <%= @cdg_order.branch_address1 %>
</p>

<p>
  <strong>Branch city:</strong>
  <%= @cdg_order.branch_city %>
</p>

<p>
  <strong>Fk branch state:</strong>
  <%= @cdg_order.fk_branch_state %>
</p>

<p>
  <strong>Fk template:</strong>
  <%= @cdg_order.fk_template %>
</p>

<p>
  <strong>Fk ad size:</strong>
  <%= @cdg_order.fk_ad_size %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @cdg_order.is_active %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @cdg_order.comments %>
</p>

<p>
  <strong>Date downloaded:</strong>
  <%= @cdg_order.date_downloaded %>
</p>

<p>
  <strong>Date submitted:</strong>
  <%= @cdg_order.date_submitted %>
</p>

<p>
  <strong>Fk order status:</strong>
  <%= @cdg_order.fk_order_status %>
</p>

<p>
  <strong>Branch address2:</strong>
  <%= @cdg_order.branch_address2 %>
</p>

<p>
  <strong>Branch zip:</strong>
  <%= @cdg_order.branch_zip %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @cdg_order.branch %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @cdg_order.branch_name %>
</p>

<p>
  <strong>Fk source branch:</strong>
  <%= @cdg_order.fk_source_branch %>
</p>

<p>
  <strong>Fk headline:</strong>
  <%= @cdg_order.fk_headline %>
</p>

<p>
  <strong>Last saved page name:</strong>
  <%= @cdg_order.last_saved_page_name %>
</p>

<p>
  <strong>Hi res uri:</strong>
  <%= @cdg_order.hi_res_uri %>
</p>

<p>
  <strong>Last preview:</strong>
  <%= @cdg_order.last_preview %>
</p>

<p>
  <strong>Fk area:</strong>
  <%= @cdg_order.fk_area %>
</p>

<p>
  <strong>Fk region:</strong>
  <%= @cdg_order.fk_region %>
</p>

<p>
  <strong>Fk branch:</strong>
  <%= @cdg_order.fk_branch %>
</p>

<p>
  <strong>Is legacy:</strong>
  <%= @cdg_order.is_legacy %>
</p>

<p>
  <strong>Fk assistant:</strong>
  <%= @cdg_order.fk_assistant %>
</p>

<p>
  <strong>Faurl:</strong>
  <%= @cdg_order.faURL %>
</p>

<%= link_to 'Edit', edit_cdg_order_path(@cdg_order) %> |
<%= link_to 'Back', cdg_orders_path %>
