<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @page.duration %>
</p>

<p>
  <strong>Is master:</strong>
  <%= @page.is_master %>
</p>

<p>
  <strong>Templateid:</strong>
  <%= @page.templateID %>
</p>

<p>
  <strong>Preview:</strong>
  <%= @page.preview %>
</p>

<p>
  <strong>Sortorder:</strong>
  <%= @page.sortOrder %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
