<p id="notice"><%= notice %></p>

<p>
  <strong>Fk ad matrix category:</strong>
  <%= @cdg_template.fk_ad_matrix_category %>
</p>

<p>
  <strong>Code:</strong>
  <%= @cdg_template.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @cdg_template.title %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @cdg_template.is_active %>
</p>

<p>
  <strong>Path:</strong>
  <%= @cdg_template.path %>
</p>

<p>
  <strong>Version:</strong>
  <%= @cdg_template.version %>
</p>

<p>
  <strong>Fk ad size:</strong>
  <%= @cdg_template.fk_ad_size %>
</p>

<p>
  <strong>Fk headline:</strong>
  <%= @cdg_template.fk_headline %>
</p>

<p>
  <strong>Xml info:</strong>
  <%= @cdg_template.xml_info %>
</p>

<p>
  <strong>Thumbnail path:</strong>
  <%= @cdg_template.thumbnail_path %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @cdg_template.instructions %>
</p>

<p>
  <strong>Proxy path:</strong>
  <%= @cdg_template.proxy_path %>
</p>

<p>
  <strong>Pdf filename:</strong>
  <%= @cdg_template.pdf_filename %>
</p>

<p>
  <strong>Mediatype:</strong>
  <%= @cdg_template.mediatype %>
</p>

<p>
  <strong>Tweenduration:</strong>
  <%= @cdg_template.tweenDuration %>
</p>

<p>
  <strong>Tweenframes:</strong>
  <%= @cdg_template.tweenFrames %>
</p>

<%= link_to 'Edit', edit_cdg_template_path(@cdg_template) %> |
<%= link_to 'Back', cdg_templates_path %>
