<p id="notice"><%= notice %></p>

<p>
  <strong>Date created:</strong>
  <%= @lab_user_info.date_created %>
</p>

<p>
  <strong>Date modified:</strong>
  <%= @lab_user_info.date_modified %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @lab_user_info.is_active %>
</p>

<p>
  <strong>Name last:</strong>
  <%= @lab_user_info.name_last %>
</p>

<p>
  <strong>Name first:</strong>
  <%= @lab_user_info.name_first %>
</p>

<p>
  <strong>Alternate address 1:</strong>
  <%= @lab_user_info.alternate_address_1 %>
</p>

<p>
  <strong>Alternate address 2:</strong>
  <%= @lab_user_info.alternate_address_2 %>
</p>

<p>
  <strong>Alternate city:</strong>
  <%= @lab_user_info.alternate_city %>
</p>

<p>
  <strong>Alternate zip:</strong>
  <%= @lab_user_info.alternate_zip %>
</p>

<p>
  <strong>Business fax:</strong>
  <%= @lab_user_info.business_fax %>
</p>

<p>
  <strong>Business phone:</strong>
  <%= @lab_user_info.business_phone %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @lab_user_info.employee %>
</p>

<p>
  <strong>Financial advisor:</strong>
  <%= @lab_user_info.financial_advisor %>
</p>

<p>
  <strong>Fk alternate us state:</strong>
  <%= @lab_user_info.fk_alternate_us_state %>
</p>

<p>
  <strong>Fk branch:</strong>
  <%= @lab_user_info.fk_branch %>
</p>

<p>
  <strong>Fk country:</strong>
  <%= @lab_user_info.fk_country %>
</p>

<p>
  <strong>Fk title1:</strong>
  <%= @lab_user_info.fk_title1 %>
</p>

<p>
  <strong>Fk title2:</strong>
  <%= @lab_user_info.fk_title2 %>
</p>

<p>
  <strong>Fk region:</strong>
  <%= @lab_user_info.fk_region %>
</p>

<p>
  <strong>Fk area:</strong>
  <%= @lab_user_info.fk_area %>
</p>

<p>
  <strong>Assistant email:</strong>
  <%= @lab_user_info.assistant_email %>
</p>

<p>
  <strong>Fk roletitle:</strong>
  <%= @lab_user_info.fk_roletitle %>
</p>

<p>
  <strong>Fk client:</strong>
  <%= @lab_user_info.fk_client %>
</p>

<p>
  <strong>Fktitle3id:</strong>
  <%= @lab_user_info.fkTitle3ID %>
</p>

<%= link_to 'Edit', edit_lab_user_info_path(@lab_user_info) %> |
<%= link_to 'Back', lab_user_infos_path %>
