<%= form_with(model: roletitle, local: true) do |form| %>
  <% if roletitle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roletitle.errors.count, "error") %> prohibited this roletitle from being saved:</h2>

      <ul>
      <% roletitle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.text_field :is_active %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :fk_role_id %>
    <%= form.text_field :fk_role_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
