<%= form_with(model: data_ref_type, local: true) do |form| %>
  <% if data_ref_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_ref_type.errors.count, "error") %> prohibited this data_ref_type from being saved:</h2>

      <ul>
      <% data_ref_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
