<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @import_financial_advisor.branch %>
</p>

<p>
  <strong>Emp:</strong>
  <%= @import_financial_advisor.emp %>
</p>

<p>
  <strong>Financial advisor:</strong>
  <%= @import_financial_advisor.financial_advisor %>
</p>

<p>
  <strong>First name:</strong>
  <%= @import_financial_advisor.first_name %>
</p>

<p>
  <strong>Job category:</strong>
  <%= @import_financial_advisor.job_category %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @import_financial_advisor.last_name %>
</p>

<%= link_to 'Edit', edit_import_financial_advisor_path(@import_financial_advisor) %> |
<%= link_to 'Back', import_financial_advisors_path %>
