<p id="notice"><%= notice %></p>

<p>
  <strong>Sort order:</strong>
  <%= @cdg_permission_type.sort_order %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @cdg_permission_type.is_active %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cdg_permission_type.name %>
</p>

<p>
  <strong>Fk permission type:</strong>
  <%= @cdg_permission_type.fk_permission_type %>
</p>

<%= link_to 'Edit', edit_cdg_permission_type_path(@cdg_permission_type) %> |
<%= link_to 'Back', cdg_permission_types_path %>
