<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @data_ref2.value %>
</p>

<p>
  <strong>Type:</strong>
  <%= @data_ref2.type %>
</p>

<p>
  <strong>Fk type:</strong>
  <%= @data_ref2.fk_type %>
</p>

<%= link_to 'Edit', edit_data_ref2_path(@data_ref2) %> |
<%= link_to 'Back', data_ref2s_path %>
