<%= form_with(model: us_state, local: true) do |form| %>
  <% if us_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(us_state.errors.count, "error") %> prohibited this us_state from being saved:</h2>

      <ul>
      <% us_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sort_order %>
    <%= form.number_field :sort_order %>
  </div>

  <div class="field">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
