<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @title.name %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @title.sort_order %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @title.is_active %>
</p>

<p>
  <strong>Is title 1:</strong>
  <%= @title.is_title_1 %>
</p>

<p>
  <strong>Is title 2:</strong>
  <%= @title.is_title_2 %>
</p>

<p>
  <strong>Is title 3:</strong>
  <%= @title.is_title_3 %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
