<%= form_with(model: user_comment, local: true) do |form| %>
  <% if user_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_comment.errors.count, "error") %> prohibited this user_comment from being saved:</h2>

      <ul>
      <% user_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fk_creator_id %>
    <%= form.text_field :fk_creator_id %>
  </div>

  <div class="field">
    <%= form.label :fk_user_id %>
    <%= form.text_field :fk_user_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :date_created %>
    <%= form.datetime_select :date_created %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
