<p id="notice"><%= notice %></p>

<p>
  <strong>Fk role:</strong>
  <%= @approval_detail.fk_role %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @approval_detail.comments %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @approval_detail.date_created %>
</p>

<p>
  <strong>Fk order:</strong>
  <%= @approval_detail.fk_order %>
</p>

<p>
  <strong>Fk order item:</strong>
  <%= @approval_detail.fk_order_item %>
</p>

<p>
  <strong>Fk user:</strong>
  <%= @approval_detail.fk_user %>
</p>

<p>
  <strong>Fk work activity instance:</strong>
  <%= @approval_detail.fk_work_activity_instance %>
</p>

<p>
  <strong>Media:</strong>
  <%= @approval_detail.media %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @approval_detail.order_number %>
</p>

<p>
  <strong>Status description:</strong>
  <%= @approval_detail.status_description %>
</p>

<p>
  <strong>User name:</strong>
  <%= @approval_detail.user_name %>
</p>

<p>
  <strong>User role:</strong>
  <%= @approval_detail.user_role %>
</p>

<p>
  <strong>Fk assistant:</strong>
  <%= @approval_detail.fk_assistant %>
</p>

<%= link_to 'Edit', edit_approval_detail_path(@approval_detail) %> |
<%= link_to 'Back', approval_details_path %>
