<%= form_with(model: ad_matrix_category_headline, local: true) do |form| %>
  <% if ad_matrix_category_headline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad_matrix_category_headline.errors.count, "error") %> prohibited this ad_matrix_category_headline from being saved:</h2>

      <ul>
      <% ad_matrix_category_headline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ad_matrix_pk_id %>
    <%= form.text_field :ad_matrix_pk_id %>
  </div>

  <div class="field">
    <%= form.label :headline_pk_id %>
    <%= form.text_field :headline_pk_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
