<p id="notice"><%= notice %></p>

<p>
  <strong>Ad matrix pk:</strong>
  <%= @ad_matrix_category_headline.ad_matrix_pk %>
</p>

<p>
  <strong>Headline pk:</strong>
  <%= @ad_matrix_category_headline.headline_pk %>
</p>

<%= link_to 'Edit', edit_ad_matrix_category_headline_path(@ad_matrix_category_headline) %> |
<%= link_to 'Back', ad_matrix_category_headlines_path %>
