<p id="notice"><%= notice %></p>

<p>
  <strong>Fk template:</strong>
  <%= @lab_headline.fk_template %>
</p>

<p>
  <strong>Code:</strong>
  <%= @lab_headline.code %>
</p>

<p>
  <strong>Fk ad matrix category:</strong>
  <%= @lab_headline.fk_ad_matrix_category %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @lab_headline.is_active %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lab_headline.title %>
</p>

<p>
  <strong>Fk matching headline category:</strong>
  <%= @lab_headline.fk_matching_headline_category %>
</p>

<p>
  <strong>Is accessible:</strong>
  <%= @lab_headline.is_accessible %>
</p>

<p>
  <strong>Is accessible text:</strong>
  <%= @lab_headline.is_accessible_text %>
</p>

<p>
  <strong>Headlinecolortypeid:</strong>
  <%= @lab_headline.headlineColorTypeID %>
</p>

<%= link_to 'Edit', edit_lab_headline_path(@lab_headline) %> |
<%= link_to 'Back', lab_headlines_path %>
