<p id="notice"><%= notice %></p>

<p>
  <strong>Is required:</strong>
  <%= @excel_valid_param.is_required %>
</p>

<p>
  <strong>Excel col name:</strong>
  <%= @excel_valid_param.excel_col_name %>
</p>

<p>
  <strong>Excel col number:</strong>
  <%= @excel_valid_param.excel_col_number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @excel_valid_param.type %>
</p>

<%= link_to 'Edit', edit_excel_valid_param_path(@excel_valid_param) %> |
<%= link_to 'Back', excel_valid_params_path %>
