<%= form_with(model: template_form_field, local: true) do |form| %>
  <% if template_form_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template_form_field.errors.count, "error") %> prohibited this template_form_field from being saved:</h2>

      <ul>
      <% template_form_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :soraeger %>
    <%= form.text_field :soraeger %>
  </div>

  <div class="field">
    <%= form.label :y_position %>
    <%= form.number_field :y_position %>
  </div>

  <div class="field">
    <%= form.label :default_text %>
    <%= form.text_area :default_text %>
  </div>

  <div class="field">
    <%= form.label :default_is_visible %>
    <%= form.text_field :default_is_visible %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scafforinrails %>
    <%= form.text_field :scafforinrails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :idatePattern %>
    <%= form.text_field :idatePattern %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :soreldGroup %>
    <%= form.text_field :soreldGroup %>
  </div>

  <div class="field">
    <%= form.label :group_name %>
    <%= form.text_field :group_name %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :soraiatum %>
    <%= form.text_field :soraiatum %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :TemplateFormField %>
    <%= form.text_field :TemplateFormField %>
  </div>

  <div class="field">
    <%= form.label :sorails %>
    <%= form.text_field :sorails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffoleferences %>
    <%= form.text_field :scaffoleferences %>
  </div>

  <div class="field">
    <%= form.label :x_position %>
    <%= form.number_field :x_position %>
  </div>

  <div class="field">
    <%= form.label :y_position %>
    <%= form.number_field :y_position %>
  </div>

  <div class="field">
    <%= form.label :default_text %>
    <%= form.text_area :default_text %>
  </div>

  <div class="field">
    <%= form.label :default_is_visible %>
    <%= form.text_field :default_is_visible %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <div class="field">
    <%= form.label :text_to_replace %>
    <%= form.text_area :text_to_replace %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.text_field :width %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="field">
    <%= form.label :show_designations %>
    <%= form.text_field :show_designations %>
  </div>

  <div class="field">
    <%= form.label :prepopulate_field %>
    <%= form.text_field :prepopulate_field %>
  </div>

  <div class="field">
    <%= form.label :is_all_caps %>
    <%= form.text_field :is_all_caps %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
