<p id="notice"><%= notice %></p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Soraeger:</strong>
  <%= @template_form_field.soraeger %>
</p>

<p>
  <strong>Y position:</strong>
  <%= @template_form_field.y_position %>
</p>

<p>
  <strong>Default text:</strong>
  <%= @template_form_field.default_text %>
</p>

<p>
  <strong>Default is visible:</strong>
  <%= @template_form_field.default_is_visible %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scafforinrails:</strong>
  <%= @template_form_field.scafforinrails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Idatepattern:</strong>
  <%= @template_form_field.idatePattern %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Soreldgroup:</strong>
  <%= @template_form_field.soreldGroup %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @template_form_field.group_name %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Soraiatum:</strong>
  <%= @template_form_field.soraiatum %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @template_form_field.scaffold %>
</p>

<p>
  <strong>Templateformfield:</strong>
  <%= @template_form_field.TemplateFormField %>
</p>

<p>
  <strong>Sorails:</strong>
  <%= @template_form_field.sorails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @template_form_field.generate %>
</p>

<p>
  <strong>Scaffoleferences:</strong>
  <%= @template_form_field.scaffoleferences %>
</p>

<p>
  <strong>X position:</strong>
  <%= @template_form_field.x_position %>
</p>

<p>
  <strong>Y position:</strong>
  <%= @template_form_field.y_position %>
</p>

<p>
  <strong>Default text:</strong>
  <%= @template_form_field.default_text %>
</p>

<p>
  <strong>Default is visible:</strong>
  <%= @template_form_field.default_is_visible %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @template_form_field.instructions %>
</p>

<p>
  <strong>Text to replace:</strong>
  <%= @template_form_field.text_to_replace %>
</p>

<p>
  <strong>Width:</strong>
  <%= @template_form_field.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @template_form_field.height %>
</p>

<p>
  <strong>Show designations:</strong>
  <%= @template_form_field.show_designations %>
</p>

<p>
  <strong>Prepopulate field:</strong>
  <%= @template_form_field.prepopulate_field %>
</p>

<p>
  <strong>Is all caps:</strong>
  <%= @template_form_field.is_all_caps %>
</p>

<%= link_to 'Edit', edit_template_form_field_path(@template_form_field) %> |
<%= link_to 'Back', template_form_fields_path %>
