<p id="notice"><%= notice %></p>

<h1>Import Managers</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Area</th>
      <th>Branch</th>
      <th>City</th>
      <th>Emp</th>
      <th>First name</th>
      <th>Job category</th>
      <th>Last name</th>
      <th>Region</th>
      <th>State</th>
      <th>Work phone</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @import_managers.each do |import_manager| %>
      <tr>
        <td><%= import_manager.address %></td>
        <td><%= import_manager.area %></td>
        <td><%= import_manager.branch %></td>
        <td><%= import_manager.city %></td>
        <td><%= import_manager.emp %></td>
        <td><%= import_manager.first_name %></td>
        <td><%= import_manager.job_category %></td>
        <td><%= import_manager.last_name %></td>
        <td><%= import_manager.region %></td>
        <td><%= import_manager.state %></td>
        <td><%= import_manager.work_phone %></td>
        <td><%= import_manager.zip %></td>
        <td><%= link_to 'Show', import_manager %></td>
        <td><%= link_to 'Edit', edit_import_manager_path(import_manager) %></td>
        <td><%= link_to 'Destroy', import_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import Manager', new_import_manager_path %>
