<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @import_manager.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @import_manager.area %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @import_manager.branch %>
</p>

<p>
  <strong>City:</strong>
  <%= @import_manager.city %>
</p>

<p>
  <strong>Emp:</strong>
  <%= @import_manager.emp %>
</p>

<p>
  <strong>First name:</strong>
  <%= @import_manager.first_name %>
</p>

<p>
  <strong>Job category:</strong>
  <%= @import_manager.job_category %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @import_manager.last_name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @import_manager.region %>
</p>

<p>
  <strong>State:</strong>
  <%= @import_manager.state %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @import_manager.work_phone %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @import_manager.zip %>
</p>

<%= link_to 'Edit', edit_import_manager_path(@import_manager) %> |
<%= link_to 'Back', import_managers_path %>
