<%= form_with(model: work_flow_activity_definition, local: true) do |form| %>
  <% if work_flow_activity_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_flow_activity_definition.errors.count, "error") %> prohibited this work_flow_activity_definition from being saved:</h2>

      <ul>
      <% work_flow_activity_definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :activity_code_temrails %>
    <%= form.text_field :activity_code_temrails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activity_code_temrails %>
    <%= form.text_field :activity_code_temrails %>
  </div>

  <div class="field">
    <%= form.label :generringrails %>
    <%= form.text_field :generringrails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activity_code_temrails %>
    <%= form.text_field :activity_code_temrails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activity_code_temrails %>
    <%= form.text_field :activity_code_temrails %>
  </div>

  <div class="field">
    <%= form.label :genityrails %>
    <%= form.text_field :genityrails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activity_code_temrail_initialization_code %>
    <%= form.text_field :activity_code_temrail_initialization_code %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activity_cod %>
    <%= form.text_field :activity_cod %>
  </div>

  <div class="field">
    <%= form.label :fk_next_activity_id %>
    <%= form.text_field :fk_next_activity_id %>
  </div>

  <div class="field">
    <%= form.label :actrails %>
    <%= form.text_field :actrails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activity_code_temraiyInstance %>
    <%= form.text_field :activity_code_temraiyInstance %>
  </div>

  <div class="field">
    <%= form.label :fk_order %>
    <%= form.text_field :fk_order %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activity_code_temrails %>
    <%= form.text_field :activity_code_temrails %>
  </div>

  <div class="field">
    <%= form.label :genere %>
    <%= form.text_field :genere %>
  </div>

  <div class="field">
    <%= form.label :is_cancellerails %>
    <%= form.text_field :is_cancellerails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activity_code_temrails %>
    <%= form.text_field :activity_code_temrails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activicafrails %>
    <%= form.text_field :activicafrails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActivityDefinition %>
    <%= form.text_field :WorkFlowActivityDefinition %>
  </div>

  <div class="field">
    <%= form.label :activity_code_temrails %>
    <%= form.text_field :activity_code_temrails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :WorkFlowActon_code %>
    <%= form.text_area :WorkFlowActon_code %>
  </div>

  <div class="field">
    <%= form.label :fk_parent_process_id %>
    <%= form.text_field :fk_parent_process_id %>
  </div>

  <div class="field">
    <%= form.label :submit_code %>
    <%= form.text_area :submit_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
