<p id="notice"><%= notice %></p>

<h1>Work Flow Activity Definitions</h1>

<table>
  <thead>
    <tr>
      <th>Activity code temrails</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activity code temrails</th>
      <th>Generringrails</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activity code temrails</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activity code temrails</th>
      <th>Genityrails</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activity code temrail initialization code</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activity cod</th>
      <th>Fk next activity</th>
      <th>Actrails</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activity code temraiyinstance</th>
      <th>Fk order</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activity code temrails</th>
      <th>Genere</th>
      <th>Is cancellerails</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activity code temrails</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activicafrails</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowactivitydefinition</th>
      <th>Activity code temrails</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Workflowacton code</th>
      <th>Fk parent process</th>
      <th>Submit code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_flow_activity_definitions.each do |work_flow_activity_definition| %>
      <tr>
        <td><%= work_flow_activity_definition.activity_code_temrails %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activity_code_temrails %></td>
        <td><%= work_flow_activity_definition.generringrails %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activity_code_temrails %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activity_code_temrails %></td>
        <td><%= work_flow_activity_definition.genityrails %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activity_code_temrail_initialization_code %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activity_cod %></td>
        <td><%= work_flow_activity_definition.fk_next_activity %></td>
        <td><%= work_flow_activity_definition.actrails %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activity_code_temraiyInstance %></td>
        <td><%= work_flow_activity_definition.fk_order %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activity_code_temrails %></td>
        <td><%= work_flow_activity_definition.genere %></td>
        <td><%= work_flow_activity_definition.is_cancellerails %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activity_code_temrails %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activicafrails %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActivityDefinition %></td>
        <td><%= work_flow_activity_definition.activity_code_temrails %></td>
        <td><%= work_flow_activity_definition.generate %></td>
        <td><%= work_flow_activity_definition.scaffold %></td>
        <td><%= work_flow_activity_definition.WorkFlowActon_code %></td>
        <td><%= work_flow_activity_definition.fk_parent_process %></td>
        <td><%= work_flow_activity_definition.submit_code %></td>
        <td><%= link_to 'Show', work_flow_activity_definition %></td>
        <td><%= link_to 'Edit', edit_work_flow_activity_definition_path(work_flow_activity_definition) %></td>
        <td><%= link_to 'Destroy', work_flow_activity_definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Flow Activity Definition', new_work_flow_activity_definition_path %>
