<p id="notice"><%= notice %></p>

<p>
  <strong>Activity code temrails:</strong>
  <%= @work_flow_activity_definition.activity_code_temrails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activity code temrails:</strong>
  <%= @work_flow_activity_definition.activity_code_temrails %>
</p>

<p>
  <strong>Generringrails:</strong>
  <%= @work_flow_activity_definition.generringrails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activity code temrails:</strong>
  <%= @work_flow_activity_definition.activity_code_temrails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activity code temrails:</strong>
  <%= @work_flow_activity_definition.activity_code_temrails %>
</p>

<p>
  <strong>Genityrails:</strong>
  <%= @work_flow_activity_definition.genityrails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activity code temrail initialization code:</strong>
  <%= @work_flow_activity_definition.activity_code_temrail_initialization_code %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activity cod:</strong>
  <%= @work_flow_activity_definition.activity_cod %>
</p>

<p>
  <strong>Fk next activity:</strong>
  <%= @work_flow_activity_definition.fk_next_activity %>
</p>

<p>
  <strong>Actrails:</strong>
  <%= @work_flow_activity_definition.actrails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activity code temraiyinstance:</strong>
  <%= @work_flow_activity_definition.activity_code_temraiyInstance %>
</p>

<p>
  <strong>Fk order:</strong>
  <%= @work_flow_activity_definition.fk_order %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activity code temrails:</strong>
  <%= @work_flow_activity_definition.activity_code_temrails %>
</p>

<p>
  <strong>Genere:</strong>
  <%= @work_flow_activity_definition.genere %>
</p>

<p>
  <strong>Is cancellerails:</strong>
  <%= @work_flow_activity_definition.is_cancellerails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activity code temrails:</strong>
  <%= @work_flow_activity_definition.activity_code_temrails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activicafrails:</strong>
  <%= @work_flow_activity_definition.activicafrails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowactivitydefinition:</strong>
  <%= @work_flow_activity_definition.WorkFlowActivityDefinition %>
</p>

<p>
  <strong>Activity code temrails:</strong>
  <%= @work_flow_activity_definition.activity_code_temrails %>
</p>

<p>
  <strong>Generate:</strong>
  <%= @work_flow_activity_definition.generate %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @work_flow_activity_definition.scaffold %>
</p>

<p>
  <strong>Workflowacton code:</strong>
  <%= @work_flow_activity_definition.WorkFlowActon_code %>
</p>

<p>
  <strong>Fk parent process:</strong>
  <%= @work_flow_activity_definition.fk_parent_process %>
</p>

<p>
  <strong>Submit code:</strong>
  <%= @work_flow_activity_definition.submit_code %>
</p>

<%= link_to 'Edit', edit_work_flow_activity_definition_path(@work_flow_activity_definition) %> |
<%= link_to 'Back', work_flow_activity_definitions_path %>
