<p id="notice"><%= notice %></p>

<h1>Migrations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Batch</th>
      <th>Migration time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @migrations.each do |migration| %>
      <tr>
        <td><%= migration.name %></td>
        <td><%= migration.batch %></td>
        <td><%= migration.migration_time %></td>
        <td><%= link_to 'Show', migration %></td>
        <td><%= link_to 'Edit', edit_migration_path(migration) %></td>
        <td><%= link_to 'Destroy', migration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Migration', new_migration_path %>
