<%= form_with(model: comment_to_order, local: true) do |form| %>
  <% if comment_to_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment_to_order.errors.count, "error") %> prohibited this comment_to_order from being saved:</h2>

      <ul>
      <% comment_to_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cpkfk_comment_id %>
    <%= form.text_field :cpkfk_comment_id %>
  </div>

  <div class="field">
    <%= form.label :cpkfk_order_id %>
    <%= form.text_field :cpkfk_order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
