<p id="notice"><%= notice %></p>

<h1>Form Field Values</h1>

<table>
  <thead>
    <tr>
      <th>Fk template form field</th>
      <th>Fk order</th>
      <th>Value</th>
      <th>X position</th>
      <th>Y position</th>
      <th>Fk user</th>
      <th>Fk portrait image</th>
      <th>Fk title</th>
      <th>Fk title2</th>
      <th>Title3id</th>
      <th>Customvalueid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_field_values.each do |form_field_value| %>
      <tr>
        <td><%= form_field_value.fk_template_form_field %></td>
        <td><%= form_field_value.fk_order %></td>
        <td><%= form_field_value.value %></td>
        <td><%= form_field_value.x_position %></td>
        <td><%= form_field_value.y_position %></td>
        <td><%= form_field_value.fk_user %></td>
        <td><%= form_field_value.fk_portrait_image %></td>
        <td><%= form_field_value.fk_title %></td>
        <td><%= form_field_value.fk_title2 %></td>
        <td><%= form_field_value.title3ID %></td>
        <td><%= form_field_value.customValueID %></td>
        <td><%= link_to 'Show', form_field_value %></td>
        <td><%= link_to 'Edit', edit_form_field_value_path(form_field_value) %></td>
        <td><%= link_to 'Destroy', form_field_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form Field Value', new_form_field_value_path %>
