<%= form_with(model: page_content, local: true) do |form| %>
  <% if page_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page_content.errors.count, "error") %> prohibited this page_content from being saved:</h2>

      <ul>
      <% page_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :wo_html %>
    <%= form.text_area :wo_html %>
  </div>

  <div class="field">
    <%= form.label :wo_wod %>
    <%= form.text_area :wo_wod %>
  </div>

  <div class="field">
    <%= form.label :is_personalized %>
    <%= form.text_field :is_personalized %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
